<% if notice.present? %>
<div id="fadeout" class="px-5 flex justify-end">
<div class="w-full md:w-2/5 lg:w-1/4  mt-5 p-3 text-sm text-center bg-black text-yellow-300 rounded-full">
    <%= notice %>
</div>
</div>
<% end %>
