<div class="ml-5 h-20 w-20 bg-pink-500 border-b-2 border-pink-100  rounded-full relative overflow-hidden">
  <div class="h-8 w-8 bg-white absolute top-0 left-0 rounded-full transform rotate-45">
    <div class="relative h-8 w-8 tranform -rotate-45">
      <div class=" absolute h-4 w-4 bottom-0 right-0  bg-black rounded-full"></div>
    </div>
  </div>
  <div class="h-8 w-8 bg-white absolute top-0 right-0 rounded-full transform -rotate-45">
    <div class="relative h-8 w-8 tranform rotate-45">
      <div class=" absolute h-4 w-4 bottom-0 left-0  bg-black rounded-full"></div>
    </div>
  </div>
  <h1 class="absolute top-0 right-0 text-lg text-white font-extrabold transform translate-y-10 -translate-x-3">Habitbi
  </h1>
</div>